 <template name="header">
    <header>
        <h1 class="center-align">MY TODO LIST</h1>
    </header>
</template>

<template name="form">
    <form class="add-new-task">
        <div class="input-field">
            <input class="input" type="text" placeholder="Add a new task"/>
            </div>
        <div class="center-button">
        <button class="waves-effect waves-light btn">Submit</button>
        </div>
    </form>
</template>

<template name="todos">
    <ul class="collection">
        {{#each todoList}}
        <li class="collection-item {{#if this.complete}}completed{{/if}}">
            {{this.name}}
            <div class="secondary-content">
                {{> completeCheck this}} 
            <a class="delete-task"><i class="material-icons">delete</i></a>
        </div>
            <div>
             {{this.createdAt}}
            </div>
        </li>
        {{/each}}
    </ul>
</template>

<template name="completeCheck">
    {{#unless this.complete}} 
         <a class="complete-task"><i class="material-icons">done</i></a>
    {{else}}
     <a class="incomplete-task"><i class="material-icons">not_interested</i></a>
    {{/unless}}
</template>

<!-- <template name="editTask">
    {{#unless this.complete}} 
         <a class="edit-task"><i class="material-icons">report_problem</i></a>  
</template> -->