.completed {
    text-decoration: line-through;
}

.secondary-content a {
    margin: 0 0.5em;
}

.complete-task {
    color: #1cac1c;
}

.incomplete-task {
    color: #e01919;
}

i {
    cursor: pointer;
}

.center-button{
    text-align: center;
}

.input-field {
     margin: 0 auto;
    width: 75%;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk10uIzp9yZVqNJKBeO1pG-dnKCYEcNRtBiY_e0_X46inGz0jNyg);
    background-size: cover;
    
}

h1{
    color: azure;
    /*color: #3cd6d6;*/
    font-family: 'Quicksand', sans-serif; 
}

ul li {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.input {
    color: azure;
}
.collection {
    background-color: #554f4f;
}

